<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEY UP</title>
</head>
<body>
    <!-- Root Element-->
    <div id="app">
        <!-- EventPreventDefault -->
        <input v-on:keyup.enter="alterarNome('Jones')" v-model="typedText">
        <input v-on:keyup.space="alterarNome('Ryan')" v-model="typedText">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                typedText: ''
            },
            methods:{
                alterarNome(lastName, event){
                    this.typedText = lastName;
                }
            }
        })
    </script>    
</body>
</html>