<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STYLE 2</title>
</head>
<body>
    <div id="app">

        <input type="text" v-on:keyup.enter="alterarNome('Jones')" v-model="typedText">

        <ul>
            <li v-for="item in array" @click="alert($event)" style="background: white;">
                {{item}}
            </li>
        </ul>

        <button @click="teste()">Bold</button>
        <br/>

        <p v-bind:class="{bold: isBold}">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio aperiam placeat eaque dolore illo, vitae in cum, impedit dignissimos totam magnam atque perferendis! Ex dolores aut facere nesciunt aliquam! Fugit?
        </p>

    </div>

    <style>
        .bold{font-weight: 600;}
    </style>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                isBold: true,
                classParagraph: 'red',
                typedText: '',
                array: []
            },
            methods:{
                alterarNome(lastName, event){
                    this.array.push(this.typedText);
                    this.typedText = '';
                },
                teste(){
                    this.isBold = !this.isBold;
                }
            }
        })
    </script>    
</body>
</html>